
<header>
  <div class="title">
    <h1>Join and cook for you and whoever you want.
</h1>
    <p>Variety of tasty dishes with quality ingredients from
proximity markets.</p>
  </div>
</header>

<section class="info">
  <h2>How works our service</h2>
  <h3>Three simple steps</h3>
</section>

<section class="explanation">
     <div class="card-deck">
  <div class="card">
      <h5 class="card-title">Order</h5>
    <img class="card-img-top" src="/images/Paso1.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Choose the recipe that you like the most.</p>
    </div>
  </div>
  <div class="card">
      <h5 class="card-title">Receive It</h5>
    <img class="card-img-top" src="/images/Paso 2.jpg" alt="Card image cap">
    <div class="card-body">
      
      <p class="card-text">Place the order and receive the package with the ingredients in a maximum of 48 hours.</p>
    </div>
  </div>
  <div class="card">
     <h5 class="card-title">Prepare</h5>
    <img class="card-img-top" src="/images/paso3.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Follow the recipe video at your own pace.</p>
    </div>
  </div>
</div>  
 </section>
 
 

            

        

