<div class="header" id="myHeader">
  <h1>Cooking...</h1>
</div>


<div class="add-recipe-container">
  <form action="/add-recipe" method="post" class="add-recipe-form" enctype="multipart/form-data">
    <div class="form-group">
      <label for="title-input">Title</label>
      <input type="text" class="form-control" name="title" id="title-input">
    </div>

    <div class="form-group">
      <label for="inspiration-input">Inspiration:</label>
      <textarea class="form-control" name="inspiration" id="inspiration-input" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="ingredients-input">Ingredients:</label>
      <textarea class="form-control" name="ingredients" id="ingredients-textarea" rows="3"></textarea>
    </div>

    <div class="form-group">
      <label for="duration-input">Duration:</label>
      <input type="number" class="form-control" name="duration" id="duration-input">
    </div>
    
    <div class="form-group">
      <label for="cuisine-input">Cuisine:</label>
      <select class="form-control" name="cuisine">
          <option>Other</option>
          <option>Asian</option>
          <option>Mediterranian</option>
          <option>Vegan</option>
      </select>
    </div>

    <div class="form-group">
      <label for="video-input">Video</label>
      <input type="url" class="form-control" name="video" id="video-input" placeholder="Put your url">
    </div>

    <div class="form-group">
      <label for="image-input">Image:</label>
      <input type="file" class="form-control" name="image" id="image-input">
    </div>

     <div id="button">
      <button class="btn btn-dark">Add Recipe</button>
    </div>
  </form>

  {{#if errorMessage}}
    <p class="error-message">
      {{ errorMessage }}
    </p>
  {{/if}}
</div>
