<h1>Cooking...</h1>

<form action="/add-recipe" method="post">
  <div class="form-group">
    <label for="title-input">Title</label>
    <input type="text" name="title" id="title-input">
  </div>

  <div class="form-group">
    <label for="inspiration-input">Inspiration:</label>
    <textarea class="form-control" name="inspiration" id="inspiration-input" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="ingredients-input">Ingredients:</label>
    <textarea class="form-control" name="ingredients" id="ingredients-textarea" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="cuisine-input">Cuisine:</label>
    <select class="form-control" name="cuisine">
        <option>Other</option>
        <option>Asian</option>
        <option>Mediterranian</option>
        <option>Vegan</option>
    </select>
  </div>

  <div class="form-group">
    <label for="video-input">Video</label>
    <input type="text" name="video" id="video-input">
  </div>

  <div class="form-group">
    <label for="image-input">Image:</label>
    <input type="text" name="image" id="image-input">
  </div>

  <button>Add recipe</button>
</form>

{{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
{{/if}}
