

<div class="header" id="myHeader">
  <h1>foodyou Recipes</h1>
</div>

<section class="content">
  <div class="list-recipes-container">
    {{#each recipes}}
      {{> cardRecipe this}}
    {{/each}}
  </div>
</section>

{{#if errorMessage}}
  <p class="error-message">
    LA BASE DE DATOS A IMPLOSIONADO
  </p>
{{/if}}

