<h1>Our choices</h1>

<h5>That's what we offer</h5>
<main class="list-recipes-container">
  {{#each recipes}}
    {{> cardRecipe this}}
  {{/each}}
</main>

{{#if errorMessage}}
  <p class="error-message">
    LA BASE DE DATOS A IMPLOSIONADO
  </p>
{{/if}}
